
.entire-about {
  min-height: 100vh; /* Ensure it always occupies full height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF7EB; 
  color: black;

}

.about {
  display: flex;
  align-items: start;
  flex-direction: row;
  padding: 100px 0px 10px 100px; /* Adjust padding */
  color: black;
  box-sizing: border-box; /* Ensure padding doesn't add to height */
  width: 100%; /* Make sure it fills the width */

}

.about-image {
  width: 35%;
  height: auto;
  padding-right: 40px;
  padding-left: 40px;
}


.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  max-width: 100%;
  text-align: left;
}


h1 {
  line-height: 1.25;
  font-family: Poppins;
}

p {
  font-size: 18px;
}



button {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  color: black;
  background-color: #e6e2f7;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 30%;
  align-items: center;
  transition: 1s;
}

button:hover {
  scale: 0.92;
  background-color: #d9d7e6;
}


/* Responsive adjustments */
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 0 20px;
  }

  .about-image {
    width: 80%;
    margin-top: 30px;
  }

  .about-text {
    font-size: 30px;
    padding: 0 20px;
    text-align: center;

  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 16px;
  }


  button {
    width: 30%;
    display: block; 
    margin: auto;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about-text {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 10px;
  }

  .about-image {
    width: 80%;
  }

  .about-text {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 12px;
  }

  button {
    width: 50%;
  }
}

