.entire-home {
  background-image: url('/src/assets/purple.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; /* Ensure it always occupies full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  align-items: start;
  flex-direction: row;
  padding: 100px 25px 0 25px; /* Adjust padding */
  color: black;
  box-sizing: border-box; /* Ensure padding doesn't add to height */
  width: 100%; /* Make sure it fills the width */
}

.home-image {
  width: 50%;
  height: auto;
  padding-right: 70px;
  padding-left: 20px;
}


.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  max-width: 100%;
  text-align: left;
}


.home-text h1 {
  line-height: 1.25;
  font-family: "Permanent Marker", cursive;
}

p {
  font-size: 18px;
}

img {
  border-radius: 50%; 
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .home {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 0 20px;
  }

  .home-image {
    width: 80%;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .home-text {
    font-size: 30px;
    padding: 0 20px;
    text-align: center;

  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 20px;
  }

  .home-text {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .home {
    padding: 10px;
  }

  .home-image {
    width: 80%;
  }

  .home-text {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 12px;
  }
}

