/* Navbar.css */

.navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding-top: 15px;  
    padding-bottom: 15px; 
    padding-right: 25px; 
    padding-left: 25px; 
    font-size: 30px; 
    background-color: black;
    color: white;  /* Ensure text color is white */
    position: fixed;  /* Make the navbar fixed */
    top: 0;  /* Position it at the top */
    width: 100%;  /* Ensure it spans the full width */
    z-index: 1000;  /* Ensure it stays on top of other content */
    box-sizing: border-box;  /* Include padding and border in element's total width and height */
}

.logo {
    font-weight: 600; 
    font-style: normal;
}

.nav-menu {
    display: flex; 
    align-items: center;
    list-style: none; 
    font-size: 17px; 
    gap: 60px; 
    color: white;
    padding: 0;  /* Reset padding for list */
    margin: 0;  /* Reset margin for list */
}

.nav-menu li {
    position: relative;  /* Necessary for positioning the ::after element */
    white-space: nowrap;  /* Prevent text from wrapping */
}

.nav-menu li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #E6E6FA;  /* Light purple color */
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;  /* Smooth transition for the underline */
}

.nav-menu li:hover::after {
    width: 95%;  /* Full width underline on hover */
}

.navbar * {
    box-sizing: border-box;  /* Ensure all child elements use border-box */
}

/* No-style links */
a {
    text-decoration: none;
    color: inherit;
  }
  
a:hover {
    color: inherit; /* No color change on hover */
  }
